{% extends 'tickets/base.html' %}

{% block content %}
<h2>Abrir Novo Chamado</h2>
<hr>
<form method="post">
    {% csrf_token %}

    <div class="mb-3">
        <label for="{{ form.titulo.id_for_label }}" class="form-label">Título</label>
        {{ form.titulo }}
    </div>

    <div class="mb-3">
        <label for="{{ form.descricao.id_for_label }}" class="form-label">Descrição Detalhada</label>
        {{ form.descricao }}
    </div>

    <div class="mb-3">
        <label for="{{ form.numero_pc.id_for_label }}" class="form-label">Número do PC (Opcional)</label>
        {{ form.numero_pc }}
    </div>

    <div class="mb-3">
        <label for="{{ form.filial_solicitante.id_for_label }}" class="form-label">Filial</label>
        {{ form.filial_solicitante }}
    </div>

    <div class="mb-3">
        <label for="{{ form.urgencia.id_for_label }}" class="form-label">Nível de Urgência</label>
        {{ form.urgencia }}
    </div>

    <button type="submit" class="btn btn-primary">Enviar Chamado</button>
    <a href="{% url 'dashboard' %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}